<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页 - <%- config.title %></title>
  <link rel="stylesheet" href="./tailwind.css">
</head>
<body>
  <% page.posts.data.forEach(post => { %>
    <li class="text-red-500">
      <h1 class="text-slate-900 text-lg"><%= post.title %></h1>
      <div>
        <%- post.content.substr(0, 140) %>
      </div>
    </li>
  <% }) %>
</body>
</html>